<h1>
Item #<%= @product.id %>
</h1>

<p>
  Product:
  <br>
<%= @product.name %>
</p>

<p>
Description:
<br>
<%= @product.description %>
</p>

<p>
Price:
<br>
<%= @product.formatted_price %>
</p>

<%= link_to "Back to Products", products_path %>
